<!--Marvin Dickson Mendia Calizaya-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Categories</title>
</head>
<body>
<h1>Category list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>code</th>
    </tr>
    <tr th:each="category:${categories}">
        <td th:text="${category.id}">555</td>
        <td th:text="${category.name}">CatName</td>
        <td th:text="${category.code}">CatCode</td>
    </tr>
</table>

</body>
</html>